* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2a33;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Chakra Petch", sans-serif;
  gap: 32px;
}

.timeboard {
  background-color: #42414d;
  font-size: 32px;
  color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 7px;
  /* width: 350px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
}

h1 {
  text-transform: lowercase;
  color: #d6d6d6;
  font-size: 42px;
}

.blinking-dots {
  animation: blink 0.5s ease infinite alternate;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes blink {
  from {
    opacity: 1.5;
  }

  to {
    opacity: 0;
  }
}

.seconds {
  color: #ff8f8f;
  background-color: #2b2a33;
  padding: 10px 20px;
  width: 80px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-left: 5px;
  flex-shrink: 0;
}


.quote {
  border: 2px solid #42414d;
  color: #ff8f8f;
  padding: 12px 24px;
  border-radius: 8px;
  border-left: 6px solid #42414d;
  font-size: 22px;
}